html,
body {
  padding: 0;
  margin: 0;
  font-family: "Murecho";
  line-height: 1.6;
  font-size: 18px;
  background-color: #0d1c24;
  color: aliceblue;
}

* {
  box-sizing: border-box;
}

a {
  color: aliceblue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}
