html,
body {
  padding: 0;
  margin: 0;
  font-family: "Murecho";
  line-height: 1.6;
  font-size: 18px;
  background-color: var(--background_color);
  color: var(--text_color);
}

* {
  box-sizing: border-box;
}

a {
  color: var(--light_color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

:root {
  --turtle_green: #9bc39a;
  --main_bg: #0d1c24;
  --card_bg: #26322a;
  --theme-dark-blue: #05386b;
  --theme-dark-green: #379683;
  --theme-green: #5cdb95;
  --theme-light-green: #8ee4af;
  --theme-cream: #edf5e1;
  --deep-dark-purple: #0c0032;
  --deep-mid-purple: #190061;
  --deep-light-purple: #240090;
  --deep-blue-purple: #3500d3;
  --deep-dark-grey: #282828;

  /* New design themes */
  --background_color: #000000;
  --light_color: #edf5e1;
  --text_color: #eed9fd;
  --medium_color: rgb(222, 222, 222);
  --dark_color: black;
}
