.menu_bar {
  /* list styles */
  list-style-type: none;

  /* color */
  background-color: var(--light_color);
  color: black;

  /* sizing */
  width: 100%;

  /* content */
  align-items: center;

  /* text */
  font-size: 18px;
}

.menu_bar ul {
  min-height: max-content;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

  /* flex */
}
.menu_bar li {
  float: inline-start;
  width: 100%;
  min-height: 100%;
}

.menu_bar li a {
  display: block;
  color: black;
  text-align: center;
  padding: 0.5rem;
  text-decoration: none;
  letter-spacing: 0.5rem;
}

.menu_bar li a:hover {
  background-color: #111111;
  color: white;
}

@media (min-width: 550px) {
  .menu_bar ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }

  .menu_bar li a {
    padding: 1rem;
    letter-spacing: 0.1rem;
    font-size: 16px;
  }
}

@media (min-width: 786px) {
  .menu_bar ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }

  .menu_bar li a {
    padding: 1rem;
    letter-spacing: 0.3rem;
    font-size: 16px;
  }
}

@media (min-width: 860px) {
  .menu_bar ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }

  .menu_bar li a {
    padding: 1rem;
    letter-spacing: 0.5rem;
    font-size: 18px;
  }
}

@media (min-width: 957px) {
  .menu_bar ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }

  .menu_bar li a {
    padding: 1.5rem;
    letter-spacing: 0.5rem;
    font-size: 20px;
  }
}

@media (min-width: 1143px) {
  .menu_bar ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }

  .menu_bar li a {
    padding: 2.5rem;
    letter-spacing: 0.5rem;
    font-size: 24px;
  }
}

.review_gallery {
  width: 100%;
  background-color: var(--dark_color);
}
